.container {
    display: grid;    
}

a:hover {
    color: red;
}

header {
    background-color: lightpink;
}

nav {
    background-color: lightgrey;
    padding: 10px 0;
}

main {
    background-color: aqua;
}

main + footer {
    background-color: orange;
    padding: 5px 0;
}